body{
    font-family: "Muli",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}
.cabeza, .Izquierda-cabeza, .Derecha-cabeza{
    display: flex; 
    justify-content: space-evenly;
}   
.cabeza a{
    color: #2d2d2d;
    padding: .3125rem .625rem;
    display: inline-block;
    background-color: transparent;
    transition: all 0.3s ease-in-out;

}
.cabeza a:hover{
    color:  #28A5BD;
    background-color: transparent;
}
.cabeza div{
    flex: 1 1 auto;
}

.Medio-cabeza, img{
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 40%;
    width: 40%;
}

.Titulo-información{
    display: flex;
    justify-content: space-evenly;
}
.Titulo-información > h1{
    flex: 1 1 3px;
}
h1{
    font-size: 60px;
    font-family: ;
}
h1+p{
    font-size: 100%;
}
h2+p{
    font-size: 14px;
    margin-bottom: 16px;
}
a:hover {
    background-color: #1b6e7e;

    
}
a{
    font-size: 18px ;
    font-family: sans-serif;
    color: white;
    background-color: #28A5BD;
    margin: 30px 0px 0px;
    padding: 12px 27px;
    text-decoration: none;

}
#ward{
    size: 720px 580px;
}

#dropdown {
    position: relative;
    display: inline-block;
}
#dropdown-content {
    display: none;
    position: absolute;
    background-color: white ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    padding: 12px 16px;
    display: block;
.show{
    display: block;
}
